<div class="section">
  <h5>{{"spreadsheet.heading" | translate}}</h5>
  <div class="form-group">
    <label>
      {{"spreadsheet.select" | translate}} &nbsp; <google-drive-picker view-id="spreadsheets"></google-drive-picker>
    </label>
    <div ng-if="!published">
      <span class="text-danger">{{ "spreadsheet.error.publish" | translate }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <div id="spreadsheet" class="well well-sm" ng-show="spreadsheet.docURL !== ''">
        <a target="_blank" href="{{ spreadsheet.docURL }}">{{ spreadsheet.docName }}</a>
      </div>
    </div>
  </div>
  <div id="spreadsheet-controls" ng-show="spreadsheet.url !== ''">
    <div class="form-group">
      <label>{{ "spreadsheet.cells.label" | translate }}</label>
      <div class="radio">
        <label for="cells-sheet">
          <input id="cells-sheet" type="radio" name="cells" ng-model="spreadsheet.cells" value="sheet"> {{ "spreadsheet.cells.sheet" | translate }}
        </label>
      </div>
      <div class="radio">
        <label for="cells-range">
          <input id="cells-range" type="radio" name="cells" ng-model="spreadsheet.cells" value="range"> {{ "spreadsheet.cells.range" | translate }}
        </label>
      </div>
    </div>
    <div class="form-group" ng-hide="spreadsheet.cells !== 'range'">
      <label for="range">
        {{ "spreadsheet.range.label" | translate }}
      </label>
      <span popover="{{'spreadsheet.range.tooltip' | translate}}" popover-trigger="click"
            popover-placement="top" rv-tooltip></span>
      <div class="row">
        <div class="col-md-6">
          <input id="range" name="range" ng-model="spreadsheet.range" class="form-control" type="text" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="sheet">{{ "spreadsheet.sheet" | translate }}</label>
      <select id="sheet" name="sheet" ng-model="currentSheet" ng-options="sheet.label for sheet in sheets" class="form-control"></select>
    </div>
    <div class="form-group">
      <label for="headerRow">{{ "spreadsheet.headerRow.label" | translate }}</label>
      <span popover="{{'spreadsheet.headerRow.tooltip' | translate}}" popover-trigger="click"
            popover-placement="top" rv-tooltip></span>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <select id="headerRow" name="headerRow" ng-model="spreadsheet.headerRow" class="form-control">
            <option value="-1">{{'spreadsheet.headerRow.auto' | translate}}</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="refresh">{{ "spreadsheet.refresh.label" | translate }}</label>
      <span popover="{{'spreadsheet.refresh.tooltip' | translate}}" popover-trigger="click"
            popover-placement="top" rv-tooltip></span>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="input-group">
            <input id="refresh" name="refresh" ng-model="spreadsheet.refresh" type="text" class="form-control" />
            <span class="input-group-addon">{{'common.units.seconds' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
