<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Google Spreadsheet Controls - Test Page</title>

  <link rel="stylesheet" href="/components/common-style/dist/css/rise.min.css">
</head>
<body ng-app="testapp" ng-controller="mainController">
  <div class="widget">
    <div class="overlay"></div>
    <div class="settings">
      <div class="settings-center">
        <div class="wrapper container-fluid modal-content">
          <h2 class="text-center">Google Spreadsheet Controls - e2e Testing</h2>
          <hr>
          <button id="published-pick" class="btn btn-default" ng-click="simulatePick(true)">Simulate Published Pick</button>
          <button id="non-published-pick" class="btn btn-default" ng-click="simulatePick(false)">Simulate Non-Published Pick</button>
          <form style="margin-top: 10px">
            <spreadsheet-controls spreadsheet="settings.additionalParams.spreadsheet"></spreadsheet-controls>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/components/angular/angular.js"></script>
  <script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="/components/angular-mocks/angular-mocks.js"></script>
  <script type="text/javascript" src="/components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/node_modules/widget-tester/mocks/common-mock.js"></script>
  <script type="text/javascript" src="/components/widget-settings-ui-components/dist/js/angular/tooltip.js"></script>
  <script type="text/javascript" src="/components/google-drive-picker/dist/js/angular/google-drive-picker.js"></script>
  <script type="text/javascript" src="/dist/js/angular/google-spreadsheet-controls.js"></script>
  <!--<script type="text/javascript" src="/src/config/config.js"></script>
  <script type="text/javascript" src="/src/angular/dtv-spreadsheet-controls.js"></script>
  <script type="text/javascript" src="/tmp/ng-templates/spreadsheet-controls.js"></script>
  <script type="text/javascript" src="/src/angular/svc-spreadsheet-controls.js"></script>-->
  <!--<script type="text/javascript" src="//apis.google.com/js/client.js?onload=handleClientJSLoad"></script>-->
  <script type="text/javascript" src="/test/e2e/spreadsheet-controls-http-mock.js"></script>
  <script type="text/javascript" src="../gapi-mock.js"></script>
  <script>
    angular.module("testapp", ["risevision.widget.common.google-spreadsheet-controls", "http-mock"])
      .controller("mainController", ["$scope", "$window",
        function ($scope, $window) {
          var docPublished = {
            id: "published",
            name: "Rise Training Spreadsheet Example",
            url: "https://test-published/"
            },
            docNonPublished = {
              id: "not-published",
              name: "T-Shirt Order",
              url: "https://test-not-published/"
            };

          $scope.settings = {
            additionalParams: {
              spreadsheet: {}
            }
          };

          //methods that simuates file actions _after_ dialog is opened
          $scope.simulatePick = function (published) {
            if (published) {
              $window.pickFile([docPublished]);
            } else {
              $window.pickFile([docNonPublished]);
            }
          };
        }]);
  </script>
</body>
</html>
